body {


    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.new {
    display: flex;

    margin: 10px;

}

.haf {


    width: 40%;
    margin: 4%;
    padding-left: 3%;
}

.haf {

    width: 80%;
}

.sp {

    color: chartreuse;
}

.emty {

    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

#init {
    margin: 0;
}

.sec {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}

.dream {



    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0;

}

.foo {

    text-align: center;
}

.pro {

    color: orange;
}

.shad {
    width: 40%;
    box-shadow: 10px 10px 50px deeppink;
    margin: 5% 5%;
    padding: 20px;
    border-radius: 10px;

}

.im {

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    margin: 0;

}

#bd {
    border-left: 10px solid red;
}

#vd {

    border-left: 10px solid gold;
}